body {
    background: #eee;
    width: 100%;
    height: 100%;
}

.cpointer {
  cursor: pointer;
}

.tab_title {
    font-size: large;
}


ul {
    padding: 0;
}

.user_list {
    left:0; 
    position: absolute;
    width: 100%;
}

.user_list.right{
    left: 100%;
}

.user_list ul li {
    list-style-type: none;
    list-style-position: inside;
    margin: 8px 0;
    cursor: pointer;
}

li > div {
    height: 90px;
    position: relative;
    border: 1px solid #ccc;
}

.user_bad {
    /*background-color: #ff4545;*/
    background-color: rgba(255,0,0,0.6)
}

.user_good {
    background-color: rgba(0,255,0,0.6);
}

.user_avatar {
    position:absolute;
    top: 20px;
    left: 3.9rem;   
    width: 50px;
    height: 50px;
    border: 1rem #ddd;
    border-radius: 50%;
    z-index: 1;
}


.user_avatar:hover {
    transform: scale(1.2);
}

.user_info {
    position:relative;
    padding-left: 100px;
    padding-top: 15px;
}

.user_name {
    text-transform: uppercase;
    font-weight: bold;
}

.user_date {
    font-style: italic;
}

.user_diagnostic {
    
}

.user_indicators {
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: center; 
}
